body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 400;
}

.center-image {
	display: block;
	margin: auto;
}

.bottom-padding {
	padding-bottom: 30px;
}

.page-header-border {
	border-bottom-style: solid;
	border-bottom-width: 4px;
	margin-bottom: 40px;
	border-bottom-color: #BCBBBB;
}

.main-image-bottom-margin {
	margin-bottom: 16px;
}

.subtitle-margin-bottom {
	margin-bottom: 8px;
}

a {
	color: #BCBBBB;
	font-size: 20px;
}

h2{
	font-size: 40px;
}

h3 {
	font-size: 42px;
}

h4 {
	font-size: 26px;
}

.dark-text {
	color: #747704;
}

.indent {
	padding-left: 16px;
}

.text-muted {
	color: #BCBBBB;
}

.text-loud {
	color: #000000;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 70px;
	margin-top: 40px;
}

.title-logo {
	margin-top: 24px;
}

.modal-background {
	background-color: white;
}

.modal-margins {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;

}

.modal-text {
	font-size: 24px;
}

.modalBorder {
	border-color: #D0C4AB;
}

.modal-image-padding {
	padding-bottom: 12px;
}






