body {
	font-family: 'Lato', sans-serif;
	color: #37474F;
	font-weight: 400;
}

.center-image {
	display: block;
	margin: auto;
}

.bottom-padding {
	padding-bottom: 30px;
}

.contact-info-borders {
	border-top-style: solid;
	border-top-width: 4px;
	margin-top: 0px;
	border-top-color: #BCBBBB;

	border-bottom-style: solid;
	border-bottom-width: 4px;
	margin-bottom: 4px;
	border-bottom-color: #BCBBBB;
}

.contact.item.spacing {
	padding-left: 4px;
}

.main-image-top-margin {
	margin-top: 40px;
}

.main-image-bottom-margin {
	margin-bottom: 16px;
}

.subtitle-margin-bottom {
	margin-bottom: 8px;
}

a {
	color: #BCBBBB;
	font-size: 20px;
}

h2{
	font-size: 40px;
}

h3 {
	font-size: 42px;
}

h4 {
	font-size: 26px;
}

.indent {
	padding-left: 16px;
}

.text-muted {
	color: #BCBBBB;
}

.text-loud {
	color: #000000;
}

.text-thin {
	font-weight: 100;
}

.text-padding {
	padding-left: 8px;
	padding-right: 12px;
}

.title-super {
	font-size: 70px;
	margin-top: 38px;
}

.title-logo {
	margin-top: 16px;
}

.modal-background {
	background-color: white;
}

.modal-margins {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;

}

.modal-text {
	font-size: 24px;
}

.modalBorder {
	border-color: #D0C4AB;
}

.modal-image-padding {
	padding-bottom: 12px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  padding-top: 4px;
}




